*.zip
*.jar

libraries/

Grad School Sketches/colorReader/*.png

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/example1/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/example2/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/example3/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/example4/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/small1/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/small1 long/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/small1 long2/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/small2 long1/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/small3 long1/

Grad School Sketches/haufTest/sketches/silkeHauf_bg_TEMP2/small4 long1/

